<!DOCTYPE html>
<html style="min-height: 100%;">
  <head>
    <title>BraveInterview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="min-height: 100%;margin:0;padding:0;">
    <%= yield %>
  </body>
</html>
